.sectionHeading {
  margin-top: 70px;
}

.profilContainer {
  margin-bottom: 40px;
}
  
.profilBild {
  display: inline-block;
  margin-right: 100px;
  width: 180px; 
  height: 180px;
}

.profilDetails {
  display: inline-block;
}
