:root {
    --whiteFilter: brightness(0) saturate(100%) invert(99%) sepia(80%) saturate(0%) hue-rotate(11deg) brightness(109%) contrast(100%);
    --networkBlack: hwb(60 21% 79%);
    --networkTurqoise: #10938c;
    --networkBlue: rgb(15, 113, 184);
    --networkBlueFilter: brightness(0) saturate(100%) invert(31%) sepia(100%) saturate(948%) hue-rotate(178deg) brightness(92%) contrast(93%);
    --vibrantBlue: #0F70B7;
    --vibrantBlueFilter: brightness(0) saturate(100%) invert(31%) sepia(100%) saturate(948%) hue-rotate(178deg) brightness(92%) contrast(93%);
    --networkTurqoiseFilter: brightness(0) saturate(100%) invert(38%) sepia(69%) saturate(568%) hue-rotate(128deg) brightness(105%) contrast(87%);
    --backgroundLightBlue: hsl(205, 56%, 97%);
    --backgroundLightGreen: #d8f3f2;
}

body {
    font-family: 'Segoe UI', 'Helvetica', 'Arial', 'Roboto', sans-serif; 
    color: var(--networkBlack);
    background: var(--backgroundLightBlue);
    background: linear-gradient(90deg, rgba(18, 161, 154, 0.5) 0%, rgba(15, 113, 184, 0.5) 100%)

}
h1, h2, h3, h4 {
    color: black
}
th, td {
    text-align: center;
    min-width: 20px;
    /* border: 0.5px dotted gray; */
}
table {
    border-spacing: 0px;
    margin: 20px 5px;
}
.sHeader, .rowHeader {
    padding: 5px 7px;
    cursor: pointer;
    z-index: 3;
}
.clickable {
    cursor: pointer;
    margin: 2px 2px;
    border: 1px solid rgb(255, 255, 255);
    background: #cdeefc;
}
.clickable:hover {
    background: #e7f8ff;
}
.active {
    border: 0px;
    background: white;
}

.answerKey, .answerVal {
    padding: 5px 7px;
}
.answerKey {
    font-weight: bold;
    cursor: pointer;
}
.answerKey:nth-child(4n+5), .answerVal:nth-child(4n), .sHeader {
    border-right: 2px solid black;
}
.answerVal {
    z-index: 1;
    border: 1px solid rgb(255, 255, 255);
}
.blankCell {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc4JyBoZWlnaHQ9JzgnPgogIDxyZWN0IHdpZHRoPSc4JyBoZWlnaHQ9JzgnIGZpbGw9JyNmZmYnLz4KICA8cGF0aCBkPSdNMCAwTDggOFpNOCAwTDAgOFonIHN0cm9rZS13aWR0aD0nMC41JyBzdHJva2U9JyNhYWEnLz4KPC9zdmc+Cg=="); 
    background-repeat: repeat;
    pointer-events: none;
}
#textBox {
    border-radius: 5px; 
    border: solid 1px gray; 
    width: 40%;
    margin: 5px;
    padding: 10px;
    
}
#infoText {
    color: gray;
    margin-top: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.8em;
}

/* for table view */
.closeBtn {
    font-size: 0.5em;
    color: blue;
    border-radius: 0.5em;
    padding-top: -0.5em;
}
li > .closeBtn {
    margin-top: 0.5em;
}

/* for questionFlow view */
.sCont {
    color: rgb(4, 23, 133)
}

.qCont {
    width: 100%;
    max-width: 800px;
    margin: auto;
}
.sCont {
    width: 90%;
    height: 50em;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    font-size: 0.8em;

}
.sCont p {
    margin: 0 2em 0 0;
}
.sCont .sName {
    font-weight: bold;
}
.qCont button {
    margin: 1em 2em;
    padding: 0.3em 0.8em;
}

.qCont button.selected {
    background: #ffffff;
    /* box-shadow: ""; */
    border: 0px;
    color: #0e7700;
}

.score {
    margin-left: 7px;
}
.recent {
    background: #ffed9f
}

/* result container */
.rCont {
    width: 100%;
    max-width: 900px;
    margin: auto;
    font-size: 14px;
    background: white;
    /* padding-top: 8em */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding-top: 40px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    transition: all 0.4s ease;
}

.block {
    padding: 15px 15px;
}
.block:nth-child(2n+2){
    background-color: var(--backgroundLightBlue);
    margin-top: 2em;
}
/* .block.more {
    background-color: rgba(255,255,255,0);
    position: relative;
    border-top: dotted 2px var(--backgroundLightBlue)
} */

/* .divLine {
    position: absolute;
    top: 0;
    left: 10%;
    background-color: var(--backgroundLightBlue); 
    height: 1px;
    width: 80%;

} */
.block:last-child {
    margin-bottom: 8em;
}

#scenarioTitle {
    margin-bottom: 0;
}
#scenarioSubtitle {
    color: #4d4d4c;
    margin-top: 0;
    display:none;
}
.descImg {
    aspect-ratio: 1.33;
}
.blockContent {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    resize: both;
    gap: 30px;
    align-items: flex-start
}
.sync .blockContent, .async .blockContent, .international .blockContent {
    flex-direction: column;
    gap: 15px;
}

.overview .blockContent {
    margin-top: 1em;
    flex-direction: row-reverse;
}
.blockContent > * {
    max-width: 100%;
    width: 100%;
    /* flex: 1 1; */
}
.blockContent > p, .blockContent > * > p {
    margin-top: 0;
}

.blockContent .descText a {
    text-decoration: none;
    font-weight: bold;
    color: var(--networkTurqoise)
}
.blockContent .descText a::before {
    content: "";
    width: 1em;
    height: 1em;
    margin-right: 2px;
    background-image: url("../../images/link.svg");
    filter: var(--networkTurqoiseFilter);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

@media only screen and (min-width: 800px){
    .blockContent > * {
        max-width: 40%;
        flex: 1 1;
    }
    .overview .blockContent > .descText {
        max-width: 70%;
        /* min-width: 50%; */
        flex: 1.5 1;
    }
    .sync .blockContent > *, .async .blockContent > *, .international .blockContent > * {
        flex: auto;
        margin-bottom: 0;
        max-width: 100%;
    }

}

ul.tCont, ul.altCont {
    list-style-type: none; 
    padding-left: 0;
    margin: 0 0;
}


/* tips */
.tip {
    box-sizing: border-box;
    margin: 0 0;
    border-bottom: solid 0.5px rgb(226, 235, 255);
}
.tip:last-child {
    border-bottom: solid 0.5px rgba(0,0,0,0);
}
.tip:not(.open) p {
    margin-bottom: 0;
}
.tip h5{
    font-size: inherit;
    margin: 0 0;
    padding: 0 0;
    height: 3.8em;
    box-sizing: border-box;
    position: relative; 
    cursor: pointer;
    color: var(--vibrantBlue)
}

.tip h5 > * {
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.tip h5 > img {
    left:  1em;
    height: 1em;
    width: auto;
    filter: var(--vibrantBlueFilter); 
    transition: all 0.4s ease;
}

.tip h5 > span {
    left: 2.5em
}

.tip .tipContent {
    /* display: none; */
    height: 0px;
    overflow: hidden;
    color: var(--vibrantBlue);
    padding: 0 1em;
    margin-top: 0;
    transition: all 0.4s ease
}

.tip .tipContent a {
    text-decoration: none;
    font-weight: bold;
    color: var(--networkTurqoise)
}

.tip .tipContent a:not(.inl) {
    display: block;
    margin-top: 0.5em;
}

.tip .tipContent a::before {
    content: "";
    width: 1em;
    height: 1em;
    margin-right: 4px;
    background-image: url("../../images/link.svg");
    filter: var(--networkTurqoiseFilter);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

.tip h5:hover{
    background-color: var(--vibrantBlue);
    color: white;
}
.tip h5:hover > img {
    filter: brightness(0) saturate(100%) invert(95%) sepia(62%) saturate(2%) hue-rotate(116deg) brightness(109%) contrast(100%); 
}

.tip.open h5 {
    color: var(--vibrantBlue);
}
.tip.open h5 > img {
    transform: rotate(90deg) translate(-50%, 0);
}
/* .tip.open .tipContent {
    display: block;
} */
.tip.open h5:hover {
    background-color: rgba(0,0,0,0);
    color: var(--vibrantBlue);
}
.tip.open h5:hover > img {
    filter: var(--vibrantBlueFilter)
}
.tip.open .tipContent {
    margin-bottom: 2em;
}

/* technical sheets */
.pdfLink {
    margin: 0 0;
    text-align: center
}
.pdfLink > img {
    width: 80%;
    max-width: 200px;
    border-radius: 2em;
    margin-bottom: 0.5em;
    border: 2px solid var(--vibrantBlue);
    cursor: pointer
}
.pdfLink > strong {
    display: block;
    font-size: 0.9em;
}

/* more results (alternative scenarios) */
.altScenario {
    box-sizing: border-box;
    margin-bottom: 0.8em;
    font-size: 0.9em
}

.altScenario a {
    font-weight: bold;
    color: var(--networkTurqoise);
    text-decoration: none;
}

.altScenario a::before {
    content: "";
    width: 0.8em;
    height: 0.8em;
    margin-right: 4px;
    background-image: url("../../images/fwd3.svg");
    filter: var(--networkTurqoiseFilter);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

/* Format before loading */
.notReady {
    transition: all 0.4s ease
}
/* .notReady div.block {
    border-radius: 1em;
} */
.notReady .block p, .notReady .block h4, .notReady .block h3 {
    color: rgba(0,0,0,0);
    border-radius: 1em;
}
.notReady .block:nth-child(2n+1) p {
    background-color: rgba(255, 255, 255, 0.4);
}
.notReady .block:nth-child(2n+2) p {
    background-color: #f1f7fc;
}
.notReady .block h4, .notReady .block h3 {
    background-color: rgba(0, 0, 0, 0.5);
    width: 50%;
}
.notReady .descImg {
    border-radius: 1em;
    aspect-ratio: 1.33;
    opacity: 0.5;
}
.notReady #linkRaumkonzept {
    visibility: hidden;
}
.notReady .descText {
    width: 50%;
    height: 5em;
}
.notReady .descText > * {
    visibility: hidden;
}
.notReady .overview .descText {
    height: 18em;
}

/* Accessibility CSS */
.sr-only {
    /* by https://kittygiraudel.com/2020/12/03/a11y-advent-hiding-content/ */
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    margin: -1px !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
  }

/* credits */
#credits {
    color: #777;
    padding-bottom: 2em;
    font-size: 80%
}
#credits h2 {
    margin-top: 3em;
    font-size: 1.2em;
    font-weight: bold;
    color: #aaa
}
#credits p {
    font-size:70%;
    margin-top: 1em;
}
#credits a {
    color: inherit;
    /* border-bottom: solid 1px */
}
@media only screen and (min-width: 800px) {
    #credits p {
        font-size: 100%;
        }
}
.accordion, .panel {
    max-width: 700px;
}
.accordion {
    background-color: #fff;
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
.accordion::before {
    content: '►';
    /*  font-size: 1.1em; */
    font-weight: bold;
    color: inherit;
    padding-right: 1em;
}
/* .active, .accordion:hover {
    background-color: #eee;
} */
h2.active {
        color: #777 !important;
    }
.active::before {
    content: '▼'
}
.panel {
    padding: 0 18px;
    max-height: 0;
    background-color: #fff;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.panel > *:last-child {
    margin-bottom: 1.2em;
}


/* Newest additions to result page - must be sorted */
#netzwerkLogo {
    width: 200px
}
.sync .blockContent > p {
    margin-bottom: 0;
}

.gradBlock  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-bottom: 0;
}
@media only screen and (max-width: 600px){
    .gradBlock  {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}
.gradBlock > * {
    line-height: 1.4em;
}
.gradBlock.asyncInt > .gradDesc {
    display: none;
}
.gradText {
    color: var(--networkBlack)
}
.gradBoxes {
    height: 1.4em;
    left: 33%; 
}
.gradBlock span.questionMark {
    color: white;
    background: var(--networkTurqoise);
    border-radius: 1em;
    width: 1.4em;
    display: inline-block;
    height: 1.4em;
    text-align: center;
    margin-left: 0.5em;
    transition: all 0.4s ease;
    cursor: pointer;
}
.gradBlock span.questionMark:hover {
    transform: scale(110%)
}

.gradBoxes > * {
    height: 100%;
    aspect-ratio: 1;
    border: 1px solid var(--networkTurqoise);
    border-radius: 3px;
    display: inline-block;
    margin-left: 3px;        
}
.gradBoxes .full {
    background: var(--networkTurqoise)
}
.gradDesc {
    color: var(--networkTurqoise);
    left: calc(33% + 4.2em + 1.2em + 9px);
    font-weight: bold;
}
#hiddenAsyncText, #hiddenAsyncIntText {
    height: 0px;
    visibility: hidden;
    overflow:hidden;
    color: var(--networkTurqoise);
    padding: 1em 2em 0;
    width: 60%;
    min-width: 265px;
    margin: 0 auto 1em;
    transition: all 0.4s ease;
}
#hiddenAsyncIntText {
    margin: 0 auto 0;
}
#hiddenAsyncText.open,  #hiddenAsyncIntText.open {
    background: rgba(255, 255, 255, 0.3);
    visibility: visible;
    margin: 1em auto 2em;
}
.blockContent > * {
    transition: all 0.2s ease;
}
.RKlink {
    position: relative;
    aspect-ratio: 1.5;
}
@media only screen and (min-width: 800px){
    .techn .blockContent > .descText {
        max-width: 100%;
    }
    .techn .blockContent > .RKlink {
        max-width: 100%;
    }
}
.RKlink > .sketchfab-embed-wrapper {
    position: relative;
    border-radius: 1em;
    width: 90%;
    height: 90%;
    margin: 5% 5%;
    overflow:hidden;
    transition: all 0.4s ease;
    /* left:50%;
    top: 50%;
    width: 90%;
    height: 90%;
    transform: translate(-50%,-50%); */
}
    .sketchfab-embed-wrapper > .cover {
        position: absolute;
        left:50%;
        top: 50%;
        width: 105%;
        height: 105%;
        transform: translate(-50%,-50%);
        z-index:10;
        border-radius: 1em;
        background: var(--networkBlue);
        opacity: 0.2;
        transition: all 0.4s ease;
        cursor: pointer;
    }
        .sketchfab-embed-wrapper > iframe {
            width:100%;
            aspect-ratio: 1.5;
            border-radius: 1em;
        }

    .techn:not(.maxed) .sketchfab-embed-wrapper.hovered {
        transform: scale(105%, 105%);
    }
    .sketchfab-embed-wrapper.hovered > .cover {
        opacity: 0.1;
    }

.RKlink > .sketchfab-embed-wrapper > iframe {
    pointer-events: none;
}
.block.techn:not(.maxed) .preInfo, .block.techn:not(.maxed) .midInfo, .block.techn:not(.maxed) .postInfo {
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

/* Technik-Block highlighted */
.tech .blockContent {
    transition: all 0.5s ease;
}
.techn .blockContent .descText h5 {
    font-size: 14px;
    opacity: 0.7;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 0.5em;
}
 .techn.maxed .descText {
    max-width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
 }
    #linkTechnik {
        padding: 1em 2em;
        font-size: 1.05em;
        font-weight: bold;
        background: rgba(0,0,0,0);
        box-shadow: none;
        border: 2px solid var(--vibrantBlue);
        border-radius: 1em;
        color: var(--vibrantBlue);
        transition: all 0.4s ease;
        margin: 1em auto;
        cursor: pointer;
    }
    #linkTechnik.hovered {
        /* background: rgba(18, 161, 154, 0.3); */
        background: rgba(15, 113, 184, 0.2);
        /* color: white; */
        border: 2px solid rgba(18, 161, 154, 0);
        transform: scale(105%, 105%)
    }
.techn.maxed .blockContent {
    gap: 0;
}
.techn.maxed .blockContent > .RKlink {
    max-width: 100%;
}
.maxed #raumIFrame {
    pointer-events: auto;
}
.maxed .RKlink {
    aspect-ratio: auto;
    margin-bottom: 15px;
}
.maxed .sketchfab-embed-wrapper > .cover {
    opacity: 0;
    pointer-events: none;
}
.maxed .RKlink > .sketchfab-embed-wrapper {
    margin: 0 0;
    width: calc(100% - 15px);
}
.maxed .preInfo, .maxed .midInfo, .maxed .postInfo{
    height: auto;
    visibility: visible
}
#minTech {
    position: relative;
    height: 1.3em;
}
#minTech > * {
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}
#minTech > img {
    left: 1em;
    height: 1em;
    filter: var(--vibrantBlueFilter);
}
#minTech > span {
    left: 2em;
    font-size: 1.3em;
    cursor: pointer;
    color: var(--vibrantBlue)
}

/* Contact Form */
.contactForm {
    display: block;
    margin-top: 1em;
    padding: 0.5em 1em;
    border-radius: 1em;
    box-shadow: none;
    border: 0px;
    background: var(--networkTurqoise);
    color: white;
    cursor: pointer;
}