/* First page (4 containers) */
.themesContainer {
    width: 80%;
    max-width: 740px;
    margin: 1em auto;
    aspect-ratio: 1.2;
    font-family: Arial;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
}

.theme {
    width: calc(50% - 2.4em);
    aspect-ratio: 1.2;
    font-size: 1.0em;
    padding: 0.5em;
    color: #ffffff;
    margin: 1.2em 0 0 1.2em;
    align-items: center;
    text-align: center;
    position: absolute;
    z-index: 1;
}

.grid {
    background: rgba(200,0,0,0.5);
    width: calc(50% - 2.4em);
    aspect-ratio: 1.2;
    position: absolute;
    margin: 1.2em 0 0 1.2em;
    border-radius: 0;
    padding: 0.5em;
    z-index: 0
}

div.theme, div.infoContainer, img.mainIcon {
    -moz-transition: width 0.5s ease, left 0.5s ease, top 0.5s ease, height 0.5s ease, border-radius 0.5s ease, align-items 0.5s ease;
    -webkit-transition: width 0.5s ease, left 0.5s ease, top 0.5s ease, height 0.5s ease, border-radius 0.5s ease, align-items 0.5s ease;
    -ms-transition: width 0.5s ease, left 0.5s ease, top 0.5s ease, height 0.5s ease, border-radius 0.5s ease, align-items 0.5s ease;
    transition: width 0.5s ease, left 0.5s ease, top 0.5s ease, height 0.5s ease, border-radius 0.5s ease, align-items 0.5s ease;
}

.theme > h2 {
    width: 100%;
    height: 30%;
}

.theme .infoContainer {
    width: 90%;
    height: 50%;
    display: flex;
    position: relative;
    align-items: center;
    margin:auto;
    background-color: rgba(255,255,255,0);
    border-radius: 0.3em;
}

.theme .mainIcon {
    display: block;
    top: 0%;
    height: 100%;
    margin: auto;
    filter: invert(100%) sepia(0%) saturate(7481%) hue-rotate(129deg) brightness(102%) contrast(102%);
    opacity: 60%;
}

.theme .infoContent {
    position: absolute;
    top: 0;
    display: none;
    opacity: 0;
    padding: 5%;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    transition: opacity 0.6s ease;
    -moz-trasition: opacity 0.6s ease;
}

.theme .infoContent > .narrowLeft {
    width: 2em;
    padding: 0 0.5em 0 0 ;
    height: 2em;
}
.theme .infoContent > p {
    width: 95%;
    margin-right: -20%;
}

.theme .infoContent .moreInfo {
    margin-top: 60%;
    margin-left: -60%;
    padding: 0.8em 1.6em 0.8em 1.6em;
    background: #f59645;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #ffffff;
    border-radius: 1em;
    /* -webkit-clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%);
    clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%); */
}

.moreInfo > a {
    text-decoration: none;
    color: inherit;
}

.tl, .tr {
    top: 0%;
}
.ll, .lr {
    top: 50%;
}
.tl, .ll {
    left: 0%;
}
.tr, .lr {
    left: 50%
}

.tl {
    background-color: #7D6D99;
    border-radius: 0em 2.5em 3em 2.5em;
}
.tr {
    background-color: #5B89B0;
    border-radius: 2.5em 0em 2.5em 3em ;
}
.lr {
    background-color: #822071;
    border-radius: 3em 2.5em 0em 2.5em;
}
.ll {
    background-color: #3A7775;
    border-radius: 2.5em 3em 2.5em 0em ;
}
.grid.tl, .grid.tr, .grid.lr, .grid.ll {
    background-color: rgb(92, 92, 92)
}


/* Hovering Transitions */
.theme.focused {
    width: 80%;
    left: 10%;
    top: 5%; 
    z-index: 5;
    align-items: top;
    border-radius: 2.5em;
}

.theme.focused > h2 {
    height: 10%;
}

.theme.focused > .infoContainer {
    height: 80%;
    background-color: rgba(255,255,255,0.9);
    z-index: 7;
}

.theme.focused > * > .infoContent {
    z-index: 8;
    display: flex;
    color: #00376c
}
.theme.focused > * >  .mainIcon {
    height: 80%;
    opacity: 1;
    z-index: 6;
}

/* other effects */
.moreInfo {
    transition: all 0.4s ease;
    cursor: pointer;
}
.moreInfo:hover {
    transform: scale(105%, 105%);
}

/* Individual Pages */
.innerWindow, .containerWindow{
    width: 98%;
    margin: auto;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.innerWindow > h1, .innerWindow > h2 {
    text-align: center;
}
.innerWindow > h1 {
    font-size: 20px;
    margin: 1em auto 0
}
.innerWindow > h2 {
    color: rgb(89, 65, 226);
    font-size: 16px;
    margin: 1.5em auto 0.5em;
}
.innerWindow > p, .innerWindow > ul {
    font-size: 14px;
}

.containerWindow {
    background: rgb(227, 235, 235);
    transition: background 0.5s ease;
    position: relative;
}
.containerWindow > * {
    width: 100%;
    margin: auto;
}


@media only screen and (min-width: 600px){
    .innerWindow, .containerWindow {
        width: 95%;
    }
    .containerWindow {
        border-radius: 0.5em;
        padding-bottom: 0.5em;
    }
    .containerWindow > * {
        width: 100%;
    }
}

@media only screen and (min-width: 1200px){
    .innerWindow, .containerWindow {
        width: 70%;
        min-width: 800px;
        max-width: 800px;
    }
}

#toggleButtons {
    display: table;
    padding-top: 0.2em;
    /* background: rgb(244, 255, 255); */
} 
#toggleButtons > * {
    display: table-cell;
    text-align: center;
    width: 33%;
    border-radius: 5px 5px 0px 0px;
    font-weight: bold;
    cursor: pointer;
    color: #585858;
    transition: background 0.5s ease;
}
#toggleButtons > #toggleOuter {
    border-radius: 0 5px 0 0;
}
#toggleButtons > #toggleInner {
    border-radius: 5px 0 0 0;
}
#toggleButtons > .activeC {
    background: rgb(255, 255, 255);
    color: black;
}

#toggleButtons > * > h3 {
    font-size: 12px;
}

@media only screen and (min-width: 600px){
    #toggleButtons {
        border-spacing: 0.5em 0;
        line-height: 1.5em;
        background: none;
        padding-top: 0.5em;
    }
    #toggleButtons > * > h3 {
        font-size: 16px;
    }
    #toggleButtons > .activeC {
        background: white;
    }
    #toggleButtons > #toggleOuter, #toggleButtons > #toggleInner {
        border-radius: 5px 5px 0 0;
    }

    
    
}

/* diagram container */
.diagramContainer {
    width: calc(98%-1em);
    aspect-ratio: 1;
    position: relative;
    /* background-color: red; */
    border-radius: 0 0 5px 5px

}

.diagramContainer > #smallFade {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  transition: background 0.5s ease;
  z-index: 2;
  pointer-events: none;
}

#fadeCover {
    position: absolute;
    left:0; top: 0;
    width:100%; height:100%;
    background: rgba(255, 255, 255);
    opacity: 0;
    z-index: 4;
    display: none;
    transition: opacity 0.3s ease;
}

#decCircle {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 9%;
    aspect-ratio:1;
    border-radius: 50%;
    background: #585858;
    overflow: hidden;
    display: none;
}
#decCircle.activeC {
    background: white;
    border: 5px solid;
}

#decCircle > img {
    width: 70%; 
    aspect-ratio:1; 
    padding: 15%;
    opacity: 1;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(59deg) brightness(103%) contrast(103%);
}
#decCircle.activeC > img {
    filter: brightness(0) saturate(100%) invert(6%) sepia(0%) saturate(1445%) hue-rotate(158deg) brightness(113%) contrast(70%);
}



@media only screen and (min-width: 600px){
    .diagramContainer {
        width: calc(100% - 1em); 
        aspect-ratio: 1;
        position: relative;
    }
    #decCircle {
        display: block;
    }
}


/* invisible node (stable size reference) */
#invisibleNode {
    width: 10em;
    height: 5em;
    pointer-events: none;
    visibility: hidden;
}
@media only screen and (min-width: 600px){
    #invisibleNode {
        width: 8em;
        height: 8em;
    }
}
@media only screen and (min-width: 800px){
    #invisibleNode {
        width: 10em;
        height: 10em;
    }

}

/* all nodes */
.node {
    z-index: 1;
    margin: 2px;
    position: absolute;
    width: calc(33% - 8px);
    border-radius: 1em;
    transition: width 0.5s ease, left 0.5s ease, top 0.5s ease, height 0.5s ease, border-radius 0.5s ease, background 0.5s ease, z-index 0.5s;
    display: table;
    cursor: pointer;
}
.node.outer {
    transform: translate(0, -50%);
    background: rgb(247, 98, 98);
    border: 2px solid rgb(247, 98, 98)
}
.node.mid {
    transform: translate(-50%, -50%);
    background: rgb(89, 65, 226);
    border: 2px solid rgb(89, 65, 226);
}
.node.inner {
    transform: translate(-100%, -50%);
    background: rgb(235, 173, 39);
    border: 2px solid rgb(235, 173, 39);
}

.node > .title {
    font-size: 10px;
    display: table-cell;    
    vertical-align: middle;
    text-align: center;
    padding: 0em 0em;
    color: #ffffff;
    margin: 0 auto;
}
.node > .subtitle{
    display: none;
    font-size: 10px;
    text-align: center;
    color:rgb(112, 112, 112);
    margin: 0 auto;
}

.node > .details {
    font-size: 12px;
    color: #585858;
    display: none;
    width: 100%
}

/* activated node */
div.node.active, .node.outer.active, .node.mid.active, .node.inner.active {
    width: 40%;
    display: table;
    z-index: 3;
}

.node.active > .title {
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
    padding: 0em 0.1em;
}

/* minimized node: nothing for mobile */

/* opened node */
.node.opened, .node.outer.opened, .node.mid.opened, .node.inner.opened {
    width: 80%;
    height: fit-content;
    padding: 1.5em;
    display: block;
    z-index: 5;
}

.node.opened > .title {
    font-size: 1.5em;
    display: block;
    padding: 0em 0em;
    color: #585858
}

.node.opened > .subtitle {
    display: block;
    font-size: 0.8em;
}

.node.opened > .details {
    display: table-row;
    display: block;
}

.node.outer.opened, .node.mid.opened, .node.inner.opened {
    transform: translate(-50%, -50%);
    background: white;
}


@media only screen and (min-width: 400px){
    .node > .title {
        display: table-cell; 
        font-size: 10px;
    }
}
@media only screen and (min-width: 500px){
    .node > .title {
        font-size: 12px;
    }
}

@media only screen and (min-width: 600px){
    .node.outer {
        width: 3.5em;
        height: 3.5em;
        border-radius: 3.5em;
    }
    .node.mid {
        width: 2.5em;
        height: 2.5em;
        border-radius: 2.5em;
    }
    .node.inner {
        width: 3em;
        height: 3em;
        border-radius: 3em;
    }
    .node.outer, .node.mid, .node.inner {
        transform: translate(-50%, -50%)
    }
    
    .node > .title {
        display: none;
        padding: 0em 0.5em;
        font-size: 10px;
        color: white;
    }

    div.node.active, .node.outer.active, .node.mid.active, .node.inner.active {
        border-radius: 9em;
        width: 9em;
        height: 9em;
        display: table;
        z-index: 3;
        transform: translate(-50%, -50%);
    }

    .node.minimized {
        width: 1em;
        height: 1em;
    }
    div.node.opened, .node.outer.opened, .node.mid.opened, .node.inner.opened {
    width: 60%;
    transform: translate(-50%, -50%);
    border-radius: 1.5em;
    color: #585858;
}

}

@media only screen and (min-width: 800px){
    .node > .title {
        padding: 0em 2em;
        font-size: 12px;
    }
    div.node.active {
        border-radius: 10em;
        width: 10em;
        height: 10em;
    }
}

#closeBtn {
    z-index:6;

}

#closeBtn {
    position: absolute;
    top: 0%;
    right: calc(0% - 1em);
    z-index:6;
    background: #585858;
    height: 1.5em;
    width: 1.5em;
    display: table;
    visibility: hidden;
    opacity: 0;
    border-radius: 1.5em;
    transform: translate(-50%, -50%);
    transition: all 0.2s
}
#closeBtn:hover {
    background: rgb(112, 112, 112);
    transform: translate(-50%, -50%) scale(130%, 130%);
}
#closeBtn > p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: white;
    font-size: 0.8em;
    /* font-weight: bold */
}